@import "tailwindcss";
.nav-link {
    color: #333;
    padding: 8px 12px;
    border-radius: 4px;
  }
  
  .nav-link.active, .nav-link:hover {
    background-color: #f0f0f0;
    color: #000;
    font-weight: 500;
  }
  .progile-detail {
    height: 200px;
    width: 200px;
    background-color: #edf8f8;
    position: absolute;
    right: 1%;
    top: 89%;
    z-index: 1;
  }
  